/* IMPORT OF FONTS */
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Cinzel+Decorative:wght@900&family=Open+Sans&display=swap');

/*
StandOut
font-family: 'Cinzel Decorative', cursive;
Normal
font-family: 'Open Sans', sans-serif;
Handwriting
font-family: 'Caveat', cursive;
*/

/* GLOBAL STYLE */
:root {
  --orange: #ffc105;
  --blue: #06aed5;
  --past: #d6cfc7;
  --present: #ef2648;
  --future: #a6deae;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 1;
}

/* HEADER SECTION */
#header, #currentDay {
  font-family: 'Cinzel Decorative', cursive;
  word-spacing: 7px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

/* PLANNER SECTION */
::placeholder {
  font-family: 'Caveat', cursive;
  font-size: 22px;
  color: #ffffff;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 2px dashed #000000;
}

/* Color coding timeblocks */
.past {
  background-color: var(--past);
  color: white;
}

.present {
  background-color: var(--present);
  color: white;
}

.future {
  background-color: var(--future);
  color: white;
}

/* Save Buttons */
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--blue);
  color: white;
}

.saveBtn i:hover {
  font-size: 30px;
  transition: all 0.1s ease-in-out;
  color: rgb(255, 255, 255);
}

.saveBtn:hover{
  background-color: var(--orange);
}

/* Clear Button */
#clearBtn:hover {
  background-color: var(--present);
  font-weight: bold;
}

/* NOTEPAD SECTION */
#notesBtn:hover {
  background-color: var(--blue);
}

.card-body {
  height: 500px;
}

#notes {
  font-size: 18px;
  line-height: 1.5rem;
  border-style: none;
  width: 18rem;
  height: 400px;
}